@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body {
  color: rgba(255, 255, 255, 0.87);
  background: rgb(137,0,209);
  background: linear-gradient(145deg, rgba(137,0,209,1) 0%, rgba(17,80,179,1) 50%, rgba(0,172,89,1) 100%);

  display: flex;
  place-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  text-align: center;
  margin: 0 auto;
}
