@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f1f1f;
  display: flex;
  place-items: center;
  min-height: 100vh;

  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  text-align: center;
  margin: 0 auto;
}

.card {
  background-color: #efefef;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
}